h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}
p {
  color: gray;
}

.command-text {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.resume {
  font-size: 12px;
}
.total-div {
  margin-top: 40px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.total-div p {
  color: black;
  margin-top: 40px;
}
.recap {
  width: 1024px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  margin: 30px auto;
}
.recap-p {
  margin-bottom: 30px;
  color: black;
}
.recap-p span {
  font-weight: bold;
}
